/DateApp.API/bin/
/DateApp.API/obj/
/DateApp.Business/obj/
/DateApp.Business/bin/
/DateApp.Core/obj/
/DateApp.Core/bin/
/DateApp.DAL/bin/
/DateApp.DAL/obj/
/.vs/DateApp/v16/Server/sqlite3/db.lock
/.vs/DateApp/v16/Server/sqlite3/storage.ide
/.vs/DateApp/v16/Server/sqlite3/storage.ide-shm
/.vs/DateApp/v16/Server/sqlite3/storage.ide-wal
